body{
  margin:0;
	background:url(hacksburg.png) left 20px no-repeat #333;
	font:23px/1.4 'Electrolize',sans-serif;
}
.open{
  color: #0f0;
}
.closed{
  color: #f00;
}
div{
  margin:-20px auto;
  border:7px solid #999;
}
p{
  margin:0 auto;
  width:60%;
}
form p{
    margin-bottom: 15px;
}
.box{
  position:relative;
  padding:40px;
  width:50%;
  background:#000;
  text-align:center;
  z-index:1;
}
.dashes{
  width:20%;
  height:160px;
  border-width:0 5px;
}
.error{
  margin:-15px 0 15px;
  width:100%;
  color:#f33;
}
